@use '../abstracts/index';

:root {
    --color-teal: #1CD6CE;
    --color-blue-dark: #293462;
    --color-yellow: #FEDB39;
    --color-red: #D61C4E;
}


// ------------------------------------
// Font colors 
// ------------------------------------

.text-primary {color: index.$color-primary;}
.text-secondary {color: index.$color-secondary;}
.text-black {color: index.$color-black;}
.text-white {color: index.$color-white;}
.text-error {color: index.$color-error;}

// ------------------------------------
// Background colors 
// ------------------------------------

.bg-primary {background-color:index.$color-primary;}
.bg-secondary {background-color:index.$color-secondary;}
.bg-grey-light {background-color:index.$color-grey-light;}
.bg-grey-medium {background-color:index.$color-grey-medium;}
.bg-grey-dark {background-color:index.$color-grey-dark;}

.bg-blue-dark {background-color:index.$color-blue-dark;}
.bg-teal {background-color:index.$color-teal;}
.bg-yellow {background-color:index.$color-yellow;}
.bg-red {background-color:index.$color-red;}


// ------------------------------------
// Color ribbon
// ------------------------------------

.color-splash {
    .color-tile {
        flex: 1 1 25%;
        height:10px;
    }
}