@use '../abstracts/index';

.container {
    margin:0 auto;
    max-width:index.$screen-lg-px;
    padding: 0 20px;
    position:relative;
}

.clearfix::after {
    clear:both;
    content:"";
    display:table;
}

// -----------------------------
// Screen Reader classes
// -----------------------------

.sr-only {
    border:0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// -----------------------------
// Hide/Reveal based on screen-size
// -----------------------------

.hide-xs { 
    @media (max-width:480px) {
        display:none!important;
    }
}
.hide-sm {
    @media (min-width:index.$screen-sm-px) and (max-width:768px) {
        display:none!important;
    }
}
.hide-md {
    @media (min-width:index.$screen-md-px) and (max-width:1279px) {
        display:none!important;
    }
}
.hide-lg {
    @include index.for-size(screen-lg) {
        display:none!important;
    }
}
.show-xs { 
    @media (max-width:480px) {
        display:block!important;
    }
}
.show-sm {
    @media (min-width:index.$screen-sm-px) and (max-width:768px) {
        display:block!important;
    }
}
.show-md {
    @media (min-width:index.$screen-md-px) and (max-width:1279px) {
        display:block!important;
    }
}
.show-lg {
    @include index.for-size(screen-lg) {
        display:block!important;
    }
}

// -----------------------------
// Text Orientation
// -----------------------------

.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.text-small {font-size:0.85rem;}

// -----------------------------
// Rounded corners
// -----------------------------

$border-radius: 10px;

.from-left {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.from-left-top {
    border-bottom-right-radius: $border-radius;
}

.from-left-bottom {
    border-top-right-radius: $border-radius;
}

.from-right {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.from-right-top {
    border-bottom-left-radius: $border-radius;
}

.from-right-bottom {
    border-top-left-radius: $border-radius;
}
