@use '../abstracts/index';

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Prevent font size inflation */
html {
    text-size-adjust: none;
    scroll-behavior: smooth;
}  

// Core body defaults
body {
    font-family:index.$font-web;
    line-height:1.5;
    margin:0;
    min-height:100vh;
    overflow-x:hidden;
    &.active {
        overflow-y:hidden;
    }
}

input,
button,
textarea,
select {
    font-family:inherit;
    font-size:inherit;
}

ul,
ul[role='list'],
ol,
ol[role='list'] {
    list-style:none;
}

a {
    color:index.$color-red;
    font-weight:700;
    text-decoration:none
}