@use '../abstracts/index';

main {
    padding-top:84px;
}

.section {
    margin:0 0 50px;
    scroll-margin-top:100px;
    @include index.for-size(screen-md) {
        margin:0 0 75px;
    }
    h2 {
        font-size: 3.5em;
    }
    .content {
        &:before {
            z-index:-1;
        }
    }
}

#banner {
    @include index.position(relative,0,0,unset,0,0);
    margin-bottom:0;
    h1 {
        font-size:2.25em;
        margin-bottom:0;
        @include index.for-size(screen-md) {
            font-size:3.25em;
        }
    }
    h2 {
        // font-family: index.$font-bebas-neue, index.$font-sans-serif;
        // font-family: index.$font-bungee-shade, index.$font-sans-serif;
        // font-family: index.$font-courier-prime, index.$font-sans-serif;
        // font-family: index.$font-playfair, index.$font-sans-serif;
        // font-family: index.$font-rubik-doodle-shadow, index.$font-sans-serif;
        // font-family: index.$font-shadows-light, index.$font-sans-serif;
        // font-family: index.$font-sofia-sans, index.$font-sans-serif;
        font-family: index.$font-source-code-pro, index.$font-sans-serif;
        font-size:1.5em;
        @include index.for-size(screen-md) {
            font-size:2em;
        }
    }
}

#silhouette {
    width:100%;
    max-width:275px;
    position:relative;
    z-index:5;
}
#about-me {
    .content {
        // background-color:#56efff;
        background-color:#FEDB39;
        position:relative;
        padding:2em 2em 2em 0;
        &:before {
            background-color:#FEDB39;
            content:'';
            height:100%;
            position:absolute;
            right:100%;
            top:0;
            width:100%;
        }
        h2 {
            margin-top:0;
        }
    }
}

#work-history {
    background-color:index.$color-teal;
    @include index.for-size(screen-md) {
        background-color:transparent;
    }
    .content {
        position:relative;
        padding:2em 0;
        @include index.for-size(screen-md) {
            padding:2em 2em 2em 0;
            &:before {
                background-color:index.$color-teal;
                content:'';
                height:100%;
                position:absolute;
                right:100%;
                top:0;
                width:100%;
            }
        }
    }
    .toggle {
        @include index.flex-col;
        padding-left:10px;
        @include index.for-size(screen-md) {
            @include index.flex-row;
        }
    }
    .tab {
        background-color:index.$color-black;
        box-shadow:0px 0px index.$color-black;
        color:index.$color-white;
        font-family: index.$font-bebas-neue;
        font-size:index.$h3;
        margin: 0.25em 0;
        padding-left:0.5em;
        padding-right:0.5em;
        transition: all index.$transition-normal ease-out;
        box-shadow:0px 0px index.$color-black;
        &:hover {
            background-color:index.$color-white;
            box-shadow:-5px 5px index.$color-black;
            color:index.$color-black;
            cursor:pointer;
        }
        &.active {
            background-color:index.$color-white;
            box-shadow:-5px 5px index.$color-black;
            color:index.$color-black;
        }
        @include index.for-size(screen-md) {
            font-size:index.$h4;
            margin:0 0.5em 0 0;
        }
        @media (min-width:992px) {
            font-size: index.$h3;
        }
    }
    ul li {
        list-style: disc;
    }
}

#portfolio {
    .grid-item {
        .overlay {
            @include index.position(absolute, 0, 0, 0, 0, -1);
            height:100%;
            opacity:0;
            transition: all index.$transition-normal ease-in-out;
            visibility:hidden;
            width:100%;
            background-color: rgba(#293462, 0.5);
        }
        .btn {
            background-color:index.$color-white;
            border:3px solid index.$color-white;
            color:index.$color-delft-blue;
            font-family: index.$font-bebas-neue;
            max-width:90%;
            overflow:hidden;
            position:relative;
            transition: all index.$transition-slow;
            z-index:2;
            transform:scale(0.75);
        }
        &:hover {
            transform:scale(0.95);
            .overlay {
                opacity:1;
                visibility:visible;
                z-index:1;
            }
            button {
                transform:scale(1);
                opacity:1;
            }
        }
    }
}

#reviews {
    background-color:index.$color-red;
    overflow-x:hidden;
    @include index.for-size(screen-md) {
        background-color:transparent;
    }
    h2 {
        color:index.$color-white;
    }
    .column-1 {
        position:relative;
        &:before {
            background:index.$color-red;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            content:'';
            height:100%;
            left:-1em;
            position:absolute;
            top:0;
            width:1em;
            z-index: -1;
        }
    }
    .content {
        position:relative;
        @include index.for-size(screen-md) {
            &:before {
                background-color:index.$color-red;
                content:'';
                height:100%;
                position:absolute;
                left:100%;
                top:0;
                width:100%;
            }
        }
    }
    .inner {
        @include index.flex-row;
        @include index.flex-m-start;
        @include index.flex-wrap;
        padding:2em 0;
        position:relative;
    }
    .carousel {
        overflow-x:hidden;
        padding:0 2em;
        position:relative;
        width:100%;
        @include index.for-size(screen-md) {
            // width:calc(91.66666667% - 200px);
            width:calc(100% - 140px);
            // margin-left:16.66666667%;
            margin-left:8.33333333%;
        }
    }
    .radio {
        padding:1em 0;
        width:100%;
        button {
            @include index.flex-row;
            @include index.flex-center;
            background-color: rgba(index.$color-white, 0.8);
            border-radius: 100%;
            box-shadow:0px 0px index.$color-black;
            height:25px;
            margin:0 5px;
            padding:0;
            transform:scale(0.8);
            transition:all index.$transition-fast ease-in; 
            width:25px;
            &:hover,
            &.active {
                background-color: index.$color-white;
                box-shadow:0px 5px index.$color-black;
                transform:scale(1.25);
            }
            &.active {
            }
        }
    }
    .slide {
        opacity:0;
        transition:visibility, opacity index.$transition-normal;
        width:100%;
        visibility:hidden;
        &.active {
            visibility:visible;
            opacity:1;
        }
    }
    .toggle {
        @include index.flex-row;
        @include index.flex-m-space-around;
        
        padding:1em 0;
        width:100%;
    }
    .prev,
    .next {
        background:index.$color-white;
        border-radius:50%;
        height:50px;
        width:50px;
        @include index.for-size(screen-md) {
            position:absolute;
            top:50%;
            transform:translateY(-50%);
        }
        svg {
            width:25px;
            fill:index.$color-black;
        }
    }
    .prev {
        @include index.for-size(screen-md) {
            // left:8.33333333%
            left:10px;
        }
    }
    .next {
        @include index.for-size(screen-md) {
            right:10px;
        }
    }
}

#contact {
    svg {
        width:50px
    }
}